* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: sans-serif;
}

main {
  background-color: black;
  height: 100vh;
  position: relative;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 2em;
  font-size: 4rem;
}
.container {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2em 1em;
  border-radius: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: white;
  background-color: black;
  padding: 1em;
  border-radius: 20px;
}

.player span {
  font-size: 3rem;
}

#winner {
  background-color: white;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.green {
  color: green;
}
.red {
  color: red;
}
.grey {
  color: grey;
}
